<!-- Select Basic -->
<div class="form-group">
    <select id="{{entityName}}{{foreignTable.key}}" name="{{entityName}}{{foreignTable.key}}">
    <option value="" disabled selected>{{foreignTable.prettyKey}}</option>
    {{#each foreignTable.entries}}
        <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
    </select>
</div>