<h1>{{#if pageTitle}}{{pageTitle}}{{else}}Home{{/if}}</h1>
<p>
    {{pageDescription}}
</p>
<ul>
    <li>{{#if pageTitle}}<a href="/home">{{/if}}Home{{#if pageTitle}}</a>{{/if}}</li>
    {{#each entities}}
        <li><a href="/entity/{{file}}">{{pretty}}</a></li>
    {{/each}}
</ul>